.ky-main-container {
  width: 97%;
  background-color: #c8ecf1;
  border: 2px solid #c8ecf1;
  padding: 10px;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.ky-header {
  font-size: 36px;
  font-weight: bold;
  position: relative;
  background-color: white;
  /* White background for the header */
  padding: 15px 20px;
  margin: -20px -20px 20px -20px;
}

.ky-message-wrapper {
  padding: 10px;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  p {
    font-size: 16px;
    text-align: center;
  }
}

.ky-score {
  border-radius: 1rem;
  float: right;
  padding: 1rem;

  p {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
}

.ky-info {
  border: 2px solid #ecc865;
  background-color: #ecc865;
}

.ky-success {
  border: 2px solid #95dc53;
  background-color: #95dc53;
}

.ky-error {
  border: 2px solid #e6626b;
  background-color: #e6626b;
}

.ky-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  margin-top: 3rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.ky-grid-item {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ky-video-text {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.ky-video-channel {
  color: darkgrey;
}

.ky-button {
  border-radius: 1rem;
  border: 2px solid #e6626b;
  margin: 1rem;
  padding: 1rem;
  transition: 0.5s;
}

.ky-button:hover {
  background-color:#e6626b;
  transition: 0.5s;
}

@media (max-width: 600px) {
  .ky-grid {
    grid-template-columns: 1fr;
  }
}

.ky-loading-text {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.ky-spinner {
  width: 20px;
  height: 20px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #3dcd5f; /* Blue color (adjustable) */
  animation: spin 1s linear infinite; /* Animation */
  margin: 20px auto; /* Center the spinner */
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}